# Caddy obtains and renews a Let's Encrypt certificate for DOMAIN and redirects HTTP to HTTPS.
{$DOMAIN} {
	encode zstd gzip
	header Strict-Transport-Security "max-age=31536000"
	reverse_proxy web:8000
}
